<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div class="container" role="banner">
  <div><h2>with angular</h2></div>
  <table id="customers">
    <tr>
      <th rowspan="2">Projects:</th>
      <th rowspan="2">total Anomalie:</th>
      <th colspan="2">bugs</th>
      <th colspan="2">Amélioration</th>
    </tr>
    <tr>
      <td>en cours</td>
      <td>Résolu</td>
      <td>en cours</td>
      <td>Résolu</td>
    </tr>

    <tr *ngFor="let projet of projets">
      <td>{{ projet.name }}</td>
      <td>{{ projet.total_anomalie }}</td>

      <td>{{ projet.beug_encour }}</td>
      <td>{{ projet.beug_resolu }}</td>
      <td>{{ projet.amelioration_encour }}</td>
      <td>{{ projet.amelioration_resolu }}</td>
    </tr>
  </table>

  <router-outlet></router-outlet>
</div>
